<h1>{{name}}</h1>
  <mat-horizontal-stepper #stepper>
    <mat-step *ngFor="let form of forms" [completed]="true">
        <ng-template matStepLabel>{{form.name}}</ng-template>
        <app-form [questions]="form.questions" (up)="getForm($event, form.name)"></app-form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="save()">Save</button>
        <button mat-button (click)="delete()">Delete</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

