<div [formGroup]="form">
  <div [ngSwitch]="question.controltype">
    
    <mat-form-field *ngSwitchCase="'input'">
        <input matInput [formControlName]="key"
        [id]="key" [type]="question.type" [value]="question.value" [placeholder]="question.label">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'textarea'">
      <textarea matInput [formControlName]="key"
      [id]="key" [type]="question.type" [value]="question.value" [placeholder]="question.label"></textarea>
  </mat-form-field>

    <div class="image-upload" *ngSwitchCase="'image'">
    <input [id]="key" [formControlName]="key"  [type]="question.type" (change)="readURL($event);" />
    <img id="blah" [src]="imageSrc || 'http://placehold.it/180'" width="100%" alt="your image" />
    </div>
    <mat-form-field *ngSwitchCase="'disabled'">
        <input matInput [formControlName]="key"
        [id]="key" [type]="question.type" [value]="question.value" [placeholder]="question.label">
    </mat-form-field>
    <div *ngSwitchCase="'hidden'">
        <input [formControlName]="key"
        [id]="key" [type]="question.controltype" [value]="question.value">
    </div>

    <mat-form-field  *ngSwitchCase="'simplearraydependency'" [id]="key"  >
      <mat-select [formControlName]="key" [placeholder]="question.label">
          <mat-option *ngFor="let opt of getArrayValue(question.dependency)"  [value]="opt.key">{{opt.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field  *ngSwitchCase="'dropdown'" [id]="key"  >
      <mat-select [formControlName]="key" [placeholder]="question.label">
          <mat-option *ngFor="let opt of question.options" [disabled]="opt.optdisabled"  [value]="opt.key">{{opt.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngSwitchCase="'arrayautocomplete'" class="arrayautocomplete">
        <h3>{{question.label}}</h3>
        <mat-list [formArrayName] = "key">
            <mat-list-item>

                <mat-form-field>
                    <input [disabled]="isArrayDisabled(key)" [formControl]="inputControl" type="text" #autocomplete matInput [matAutocomplete]="auto">
                  </mat-form-field>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of question.options"  [value]="option">{{option.label}}</mat-option>
                  </mat-autocomplete>
                <button mat-icon-button (click)="addItem(key)"><mat-icon>add</mat-icon></button>
            </mat-list-item>
            <mat-list-item *ngFor="let item of getArrayValue(key); let i = index">
              {{item.label}}
              <!-- <span *ngFor="let form of Object.keys(item)">
                {{item[form]}}
              </span> -->
              
              <button mat-icon-button color="warn" (click)="deleteArrayItem(i, key)"><mat-icon>delete</mat-icon></button>
            </mat-list-item>
          </mat-list>
                
    </div>
    <div *ngSwitchCase="'arrayinput'">
        <h3>{{question.label}}</h3>
        <mat-list [formArrayName] = "key">
            <mat-list-item>
                <mat-form-field>
                    <input [disabled]="this.form.get(key)?.disabled" type="text" #arrayinputfield matInput>
                  </mat-form-field>
                <button mat-mini-fab [disabled]="this.form.get(key)?.disabled" (click)="addItem(key, arrayinputfield)"><mat-icon>plus</mat-icon></button>
            </mat-list-item>
            <mat-list-item *ngFor="let item of getArrayValue(key); let i = index">
              {{item}}
              <button mat-button (click)="deleteArrayItem(i, key)">Delete</button>
            </mat-list-item>
          </mat-list> 
    </div>
    <div *ngSwitchCase="'arraymodal'">
        <h3>{{question.label}}</h3>
        <mat-list [formArrayName] = "key">
          <mat-list-item>
            <!-- {{question.value |json}} -->
            <button mat-button (click)="openArrayDialog(question)">Agregar item</button>
          </mat-list-item>
          <mat-list-item *ngFor="let item of getArrayValue(key); let i = index">
                {{item.label}}
                <button mat-button (click)="openArrayItemDialog(question, i)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="deleteArrayItem(i, key)"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-list>
    </div>
    <div *ngSwitchCase="'formmodal'">
        <h3>{{question.label}}</h3>
        <button mat-button (click)="openDialog(question)">Llenar subformulario</button>
        
  </div>
    <div *ngSwitchCase="'arrayGrid'">
      <mat-grid-list>
        <mat-grid-tile *ngFor="let item of question.value"></mat-grid-tile>
      </mat-grid-list>
  </div>
 
  </div> 
</div>