<!-- <app-menu (selected)="goTo($event)"></app-menu> -->
<!-- <ng-container *ngIf="loading || pending; else elseTemplate">

    <div class="centerspinner">
            <mat-spinner></mat-spinner>
    </div>
    
</ng-container>
<ng-template #elseTemplate>
        
</ng-template> -->
<!-- <mat-progress-bar class="bar" *ngIf="loading || pending" mode="indeterminate"></mat-progress-bar>
<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav> <app-menu></app-menu></mat-sidenav>
    <mat-sidenav-content>
        <button (click)="sidenav.toggle()">hooola</button>
        
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <router-outlet></router-outlet>