<form [formGroup] ='loginForm' class="login-layout"> 
  <div class="logo">
    <img src="../../../assets/logo_aassa.jpeg" width="250px" alt="">
    <img src="../../../assets/logo_teleforms.png" width="350px" alt="">
  </div>
  <div class="formularios">
    <ng-container *ngIf="!isAuth; else elseTemplate">
        <mat-form-field class="formulario">
            <input matInput formControlName="email" placeholder="Email" value="">
          </mat-form-field>
          <mat-form-field class="formulario">
          <input matInput type="password" formControlName="password" placeholder="Contraseña" value="">
          </mat-form-field>
          <button (click)='login()'>Login</button>
    </ng-container>
    <ng-template #elseTemplate>
        <button mat-raised-button color="primary" (click)='loginout()'>Login out</button>
        <button class="gotoform" mat-raised-button color="accent" (click)='gotoAassa()'>Ir al formulario</button>
    </ng-template>
    
      
    </div>
  
</form>
