<mat-toolbar color="primary">
    <span><img src="../../../assets/logo_teleforms.png" width="150px" alt=""></span>
    <span class="spacer"></span>
    <span class="excel"><button mat-raised-button (click)="gotoGrafana()" color="accent">Ir a grafana</button></span>
    <span class="excel"><button mat-raised-button (click)="exportToExcel()" color="accent">Exportar a excel</button></span>
    <span><button mat-raised-button (click)="navigateToHere()" color="accent">Nuevo formulario</button></span>
  </mat-toolbar>
<div class="main">
  <div class="datos">
      <app-list [items]="items" 
      [listType]="listType" 
      [keys]="keys"
      (selected)="selection($event)"></app-list>
  </div>
    
    <div class="formularios">
          <router-outlet></router-outlet>
    </div>
</div>